/*-------------------- Fonts --------------------*/

@font-face {
    font-family: secondary-font;
    src: url(Font/TF2secondary.ttf);
}

/*-------------------- Original styles --------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: "secondary-font", "primary-font", "segoe ui", "tahoma";
}

/*--------------------- General class ----------------------*/


/*------------------------- header -------------------------*/


/*------------------------- aside -------------------------*/


/*------------------------- main --------------------------*/
/*--------- Address-bar ----------*/

/*--------- Profile-cover ---------*/

/*--------- Menu-sections ---------*/

/*--------- container-cards ---------*/

/*----- Main-box-1 -----*/

/* About-card */

/* Overview-card */

/*----- Main-box-2 -----*/

/* ActivityTimeline-card */

/* connections-card */

/* teams-card */

/* projects-card */

/*------------------------- footer -------------------------*/


