/*-------------------- Original styles --------------------*/


/*--------------------- General class ----------------------*/


/*------------------------- header -------------------------*/


/*------------------------- aside -------------------------*/


/*------------------------- main --------------------------*/
/*--------- Address-bar ----------*/

/*--------- Profile-cover ---------*/

/*--------- Menu-sections ---------*/

/*--------- container-cards ---------*/

/*--------- Teams-Section ------*/
img{
    border-radius: 50%;
    width: 32px;
    border: 2px solid #fff;
}
.container{
    width: 1370px;
    margin: auto;
}
.main-team{
    display: flex;
    flex-wrap: wrap;

}
.box-item{
    position: relative;
    width: 367.500px;
    height: 231.297px;
    background-color:#ffffff ;
    border-radius: 5px;
    box-shadow: 0 2px 14px rgba(38, 60, 85, 0.16);
    flex: 0 auto;
    margin: 14px;
}
.box-body{
    padding:22px ;
}
.H-L-box{
text-align: right;
vertical-align: middle;
display: inline-block;
cursor: pointer;
}
.H-L-box>img{
    border-radius: 50%;
    width: 32px;
    display: inline-block;
    margin-top: 0px;
}
.H-L-box>h5{
font-family: inherit;
color: rgb(103, 119, 136);
font-size: 1.125rem;
font-weight: 500;
display: inline-block;
vertical-align: middle;
margin-top: 0px;
}

.icone-box{
   float: left;
   margin-top: 2px;
   cursor: pointer;
}
.icone-box img{
    width: 16px;
}

.text-box>p{
color: rgb(103, 119, 136);
font-family: 'primary-font', "segoe ui", 'tahoma';
font-size: 15px;
font-weight: 400;
margin: 0px 0px 16px 0px;
line-height: 30px ;
}
.footer-box{
    align-items: center;
}
.image-box{
    display: inline-flex;
    align-items: center;
    
}

.image-box ul{
    list-style: none;
    display: flex !important;
    margin: 0px;
    align-items: center;
    padding: 0px;
    
}
.image-box ul>li:hover img{
    margin-bottom: 10px;
    cursor: pointer;
}
.image-box ul>li{
    display: inline;
    margin-right: -12px;
}
.text-muted{
    margin-right: 15px;
    color: #a8b1bb ;
    font-family: 'primary-font', "segoe ui", 'tahoma';
font-size: 15px;
font-weight: 400;
}
.link-box{
    float: left;
    display: inline-flex;
}
.link-box a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5.415px 9.146px;
    display: inline-block;
    font-family:'primary-font', "segoe ui", 'tahoma'; 
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.link-box a:first-of-type{
    background-color:#e5edfc  ;
    color: #5a8dee ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box a:last-of-type{
    background-color:#fff2e1  ;
    color: #fdac41 ;
    border-radius: 5px;
}
.link-box.box2 a:first-of-type{
    background-color:#ffe5e5  ;
    color: #ff5b5c ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box3 a:first-of-type{
    background-color:#fff2e1  ;
    color: #fdac41 ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box3 a:last-of-type{
    background-color:#ffe5e5   ;
    color: #ff5b5c  ;
    border-radius: 5px;
}
.link-box.box4 a:first-of-type{
    background-color:#d6f7fa  ;
    color: #00cfdd  ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box5 a:first-of-type{
    background-color:#e5edfc  ;
    color: #5a8dee ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box5 a:last-of-type{
    background-color:#dff9ec   ;
    color: #39da8a  ;
    border-radius: 5px;
}
.link-box.box6 a:first-of-type{
    background-color:#dff9ec  ;
    color: #39da8a  ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box7 a:first-of-type{
    background-color:#dff9ec  ;
    color: #39da8a ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box7 a:last-of-type{
    background-color:#e7ebef   ;
    color: #69809a  ;
    border-radius: 5px;
}
.link-box.box8 a:first-of-type{
    background-color:#d6f7fa  ;
    color: #00cfdd ;
    border-radius: 5px;
    margin-left: 8px;
}
.link-box.box8 a:last-of-type{
    background-color:#fff2e1   ;
    color: #fdac41  ;
    border-radius: 5px;
}
[d-title]:hover:after{
    visibility: visible;
}
[d-title]:after{
    content: attr(d-title);
    background-color: #413e3e;
    visibility: hidden;
    position: absolute;
    padding: 5px 10px;
    top: 20px;
    right: -0;
    border-radius: 5px;
    font-family:'primary-font', "segoe ui", 'tahoma';
    font-size: 15px;
    white-space: nowrap;
    font-weight: 800;
    color: #eaecec;
    
}
[d-title]{
    position: relative;
}
/*------------------------- footer -------------------------*/